{% extends "layout.html" %} {% block content %}

<div>
	<div>
		<div class="flex items-center justify-between">
			<div>
				<p class="font-semibold text-2xl">Habitaciones</p>
			</div>
			<div>
				<input
					type="text"
					placeholder="Buscar"
					class="input h-7 text-[10px] w-[300px] text-black bg-white shadow-md" />
			</div>
		</div>
		<div class="mt-5 flex items-center">
			<div>
				<a href="">
					<div
						class="bg-white rounded-md shadow-md p-2 w-32 h-32 hover:bg-gradient-to-bl from-indigo-500 to-sky-500 group">
						<div class="m-2">
							<iconify-icon
								icon="ph:cooking-pot"
								width="25"
								height="25"
								class="bg-sky-500 text-sky-500 group-hover:text-white group-hover:bg-blue-800 group-hover:bg-opacity-60 bg-opacity-30 rounded-xl p-2"></iconify-icon>
						</div>
						<div class="m-2">
							<p class="text-[13px] font-medium group-hover:text-white">
								Cocina
							</p>
							<p class="text-[11px] group-hover:text-white">8 dispositivos</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="mt-4">
		<div>
			<div>
				<p class="font-semibold text-2xl">Niveles</p>
			</div>
		</div>
		<div class="mt-5 grid grid-cols-2 gap-6">
			<div>
				<a href="">
					<div class="bg-white rounded-md shadow-md p-2 w-[320px]">
						<div class="m-2">
							<div class="flex items-center">
								<iconify-icon
									icon="ic:outline-water-drop"
									width="25"
									height="25"
									class="bg-blue-500 text-white p-2 rounded-xl"></iconify-icon>

								<div class="ml-2">
									<p class="text-black font-medium">Humedad</p>
								</div>
								<div></div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div>
				<a href="">
					<div class="bg-white rounded-md shadow-md p-2 w-[320px]">
						<div class="m-2">
							<div class="flex items-center">
								<iconify-icon
									icon="fluent:temperature-48-filled"
									width="25"
									height="25"
									class="bg-blue-500 text-white p-2 rounded-xl"></iconify-icon>

								<div class="ml-2">
									<p class="text-black font-medium">Temperatura</p>
								</div>
								<div></div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div>
				<a href="">
					<div class="bg-white rounded-md shadow-md p-2 w-[320px]">
						<div class="m-2">
							<div class="flex items-center">
								<iconify-icon
									icon="ic:twotone-co2"
									width="25"
									height="25"
									class="bg-blue-500 text-white p-2 rounded-xl"></iconify-icon>

								<div class="ml-2">
									<p class="text-black font-medium">CO2</p>
								</div>
								<div></div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="mt-4">
		<div>
			<div>
				<p class="font-semibold text-2xl">Dispositivos</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
